@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400; 
}

title {
    text-transform: uppercase;
}

h1 {
    color: #33485e;
    size: 3em; 
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
    font-weight: 400;
}
