#content {
    margin: 0 auto;
    width: 900px;
}

#masthead {
    margin: 0 auto;
    width: 400px;
}

img {
    width: 400px;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-style: bold;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-style: bold;
}

#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}

p {
    font-family: Georgia, serif;
    size: 13px;
}

