@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.headline {
    font-size: 3em;
}

.byline {
    font-family: 'Montserrat', Arial, Sans-serif;
    font-size: 10px;
}

p {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Georgia', Arial, Sans-serif;
    font-size: 18px;
}

.caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: italic;
    margin-left: 255px;
}

img {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.col {
    font-family: 'Georgia', Arial, Sans-serif;
}