
#content {
    margin: 0 auto;
    width: 900px;
}

.masthead {
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-family: "Times New Roman", sans-serif;
    font-style: bold;
}

h2 {
    font-family: Georgia, sans-serif;
    font-style: bold;
}

#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}

.caption {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
}

img {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

p {
    font-family: Helvetica, arial, serif;
    size: 12px;
}

blockquote {
    font-family: helvetica, sans-serif; 
    font-size: 32px;
    font-style: italic; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    color: red; 
    margin-left: 50px; 
    padding-left: 15px; 
    border-left: 4px solid #ccc; 
}